.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .tableBox {
    flex: 1;
    .btnGrp {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    input[type="text"],input[type="number"] {
      font-weight: 500;
      height: 36px;
      border-radius: 10px;
      border: 1px solid #DBDFE9;
      padding: 0 12px;      
    }

    a {color: #04A3BB;}
    table {
      table-layout: fixed;
      thead {
        tr {
          th {
            &:nth-child(1),&:nth-child(2) {
              width: 40px;
            }
            &:nth-child(7),&:nth-child(8),&:nth-child(9) {
              width: 100px;
            }
            &:nth-child(10) {
              width: 120px;
            }
            &:last-child,&:nth-last-child(2) {
              width: 170px;
            }
          }
        }
      }    
      tbody {
        tr td {
          &:nth-child(5) {
            white-space:nowrap; text-overflow:ellipsis; overflow:hidden;
          }          
        }
      }  
    }
  } 
}