.logo {
  width: 168px;
  height: 28px;
  background: url('../../../../assets/images/logo_w.svg') 100% no-repeat;
  
  &.on {
    background: url('../../../../assets/images/logo_b.svg') 100% no-repeat;    
  }
}

.logo-img {
}
