.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;

  .calendarBox {
    height: 62px;
  } 

  .tableBox {
    flex: 1;
    .btnGrp {
      display: flex;
      align-items: center;
      justify-items: flex-end;
      gap: 8px;
      input[type="text"] {
        width: 200px;
        font-weight: 500;
        height: 36px;
        border-radius: 10px;
        border: 1px solid #DBDFE9;
        padding: 0 12px;      
    
        &:invalid {
          border: 1px solid #F24A4A;
        }
      }    
    }

    select {width: 200px;}

    table {
      table-layout: fixed;
      thead {
        tr {
          th {
            &:nth-child(1) {
              width: 80px;
            }
            &:not(:first-child) {
              width: calc((100% - 80px) / 4);
            }
          }
        }
      }
      
    }
  }
}