.loginWrap {
  width: 100%;
  height: 100vh;

  background: #dbdfe9;

  padding: 32px 40px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .loginTop {
    height: 40px;
    display: flex;
    justify-content: space-between;
  }

  .loginBoxWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    .loginBox {
      display: flex;
      justify-content: space-between;
      width: 800px;
      height: 535px;
      padding: 20px;
      background: #FFFFFF;
      border-radius: 20px;
      border: 1px solid #D9DDE7;

      .loginInputBox {
        flex: 1;
        padding: 60px 40px 0 20px;
        display: flex;
        flex-direction: column;
        gap: 56px;
        .inputWrap {
          display: flex;
          flex-direction: column;
          gap: 16px;


          input {
            height: 48px;
            border: 1px solid #DBDFE9;
            border-radius: 10px;
            width: 100%;
            padding: 0 16px;
            font-weight: 500;
          }

          .btnLogin {
            height: 48px;
            border-radius: 10px;
            background: #1A6CD5;
            border: none;
            font-size: 15px;
            font-weight: 700;
            color: #fff;
            line-height: 1;
          }
        }
      }
    }
  }

  .loginBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: #99A1B7;
  }
}