/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

 @font-face {
  font-family: 'Pretendard';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('@/assets/font/PretendardVariable.woff2') format('woff2-variations');
}

// variables 
$img-path: '../images/';

//layout
$min-width: 1920px;
$max-width: 100%;
$gnb-height: 120px;
$sidebar-width: 260px;

$font-body: 14px;
$font-weight: 400;
$font-color: #4B5675;
$line-height: 1.3;
$line-height-headline: 1.5;
$letter-spacing: false;

$bg-body: #fff;

// font
$font-size-h1: 28px;
$font-size-h2: 20px;
$font-size-h3: 17px;
$font-size-h4: 15px;

$cl-error: #F24A4A;

//header
$header-bg: #1a75ff;

// function
@mixin create_btn_in_ic_16($name) {
  &::before {
    width: 16px;
    height: 16px;
    content: url(#{$img-path}ic_#{$name}_16.svg);
  }
}

@mixin create_btn_icon($name) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 18px;
  border: 1px solid #DBDFE9;
  &::before {
    width: 16px;
    height: 16px;
    content: url(#{$img-path}ic_#{$name}_16.svg);
  }
}


* {
  outline: 0;
  box-sizing: border-box;
  color: $font-color;
}

html,
body {
  font-size: $font-body;
  width: 100%;
  height: 100%;
  //scrollbar-width: none;
  //-ms-overflow-style: none;
  //::-webkit-scrollbar {
  //  display: none;
  //}
  font-family:
  'Pretendard',
  -apple-system,
  BlinkMacSystemFont,
  Roboto,
  'Apple SD Gothic Neo',
  'Noto Sans KR',
  'Malgun Gothic',
  arial,
  sans-serif;  
}

body,
div,
p,
header,
section,
nav,
footer,
article,
figure,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
input,
textarea,
button,
select,
datalist,
option,
span,
details,
summary,
strong,
b,
em,
i,
a,
label,
pre,
code {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ul,
ol, details, summary {
  list-style: none;
}

button,
input,
textarea {
  text-transform: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
  border: none;
  &::placeholder {
    color: #C4CAD8;
  }
  font-family: inherit; font-size: 100%; font-weight: 500; line-height: inherit; color: inherit; margin: 0; padding: 0;
}
// textarea { resize: none;}

button,
[type="button"],
[type="reset"],
[type="submit"] { -webkit-appearance: button; background-color: transparent; background-image: none; } 
:-moz-focusring { outline: auto; } 
:-moz-ui-invalid { box-shadow: none; } 
progress { vertical-align: baseline; } 
::-webkit-inner-spin-button,
::-webkit-outer-spin-button { height: auto; } 
[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; } 
::-webkit-search-decoration { -webkit-appearance: none; } 
::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; } 
summary { display: list-item; } 
button,
[role="button"] { cursor: pointer; } 
:disabled { cursor: default; } 

input[type="time"] {
  // &::-webkit-calendar-picker-indicator {
  //   display: none;
  // }
  font-weight: 500;
  height: 36px; 
  font-weight: 500;
  font-size: 14px;
  color: #4B5675;
  border: 1px solid #DBDFE9;
  border-radius: 10px;
  padding: 0 12px;


  // &::-webkit-calendar-picker-indicator {
  //   // width: 150px;
  //   position: absolute;
  //   right: -105px;
  //   background: url(#{$img-path}ic_calendar_16.svg);
  //   background-repeat: no-repeat;
  // }
}

button.btnType1 {
  cursor: pointer;
  height: 32px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #DBDFE9;
  border-radius: 18px;
  background: #F4F7F6;
  color: #4B5675;
  padding: 0 12px;
  line-height: 1;

  &:not(:disabled):hover {
    border: 1px solid #99A1B7;
  }

  &:not(:disabled):active {
    background: #DBDFE9;
    border: 1px solid #99A1B7;
  }

  &:disabled {
    cursor: default;
    &::before{
      filter: invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg) brightness(122%) contrast(104%);
    }
    color: #99A1B7;
  }
}

button.btnType2 {
  cursor: pointer;
  height: 32px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  border-radius: 18px;
  background: #04A3BB;
  color: #fff;
  padding: 0 12px;
  line-height: 1;

  &:not(:disabled):hover {
    background: #64C7D7;
  }

  &:not(:disabled):active {
    background: #008FA5;
  }

  &:disabled {
    cursor: default;
    &::before{
      filter: invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg) brightness(122%) contrast(104%);
    }
    background: #CEE4E7;
  }
}

select.selectBox {
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  color: #4B5675;
  border-radius: 10px;
  border: 1px solid #DBDFE9;
  padding: 0 36px 0 12px;

  appearance:none;
  background:url(#{$img-path}ic_select_down.svg) no-repeat right 12px center;

  &:invalid {color: #C4CAD8;}
  
}

input[type="checkbox"]{
  appearance: none;
  width: 18px;
  height: 18px;
  background: url(#{$img-path}check.svg) no-repeat center;
  cursor: pointer; 

  &:checked {
    background: url(#{$img-path}check_ck.svg) no-repeat center;
  }

  &:disabled {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
    background: url(#{$img-path}check_dis.svg) no-repeat center;
  }

  &:not(:checked,:disabled):hover {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
    background: url(#{$img-path}check_hover.svg) no-repeat center;
  }

  &:checked:disabled {
    background: url(#{$img-path}check_dis_ck.svg) no-repeat center;
  }
}

input[type="radio"]{
  appearance: none;
  width: 18px;
  height: 18px;
  background: url(#{$img-path}radio.svg) no-repeat center;
  cursor: pointer; 

  &:checked {
    background: url(#{$img-path}radio_ck.svg) no-repeat center;

    & + span {
      font-weight: 700;
      color: #04A3BB;
    }
  }

  &:disabled {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
    background: url(#{$img-path}radio_dis.svg) no-repeat center;

    & + span {
      font-weight: 500;
      color: #99A1B7;
    }
  }
  
  &:not(:checked,:disabled):hover {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
    background: url(#{$img-path}radio_hover.svg) no-repeat center;
  }

  &:checked:disabled {
    background: url(#{$img-path}radio_dis_ck.svg) no-repeat center;

    & + span {
      font-weight: 700;
      color: #CEE4E7;
    }
  }
}

.input-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  // height: 36px;
  padding: 0 10px 0 12px;
  border-radius: 10px;
  border: 1px solid #DBDFE9;
  input[type="search"] {
    height: 36px;
    flex: 1;
    &::placeholder {
      color: #C4CAD8;
    }
  }
}

.tab-list {
  display: flex;
  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 36px;
    border: 1px solid #DBDFE9;
    font-weight: 500;
    color: #78829D;

    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &.cur {
      border: 1px solid #1A6CD5;
      font-weight: 700;
      color: #1A6CD5;
    }
  }
}

.no-scroll {overflow: initial !important;}

.dropdownList {
  position: relative;
  font-weight: 500;
  .data {
    cursor: pointer;
    height: 36px;
    border: 1px solid #DBDFE9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 40px 0 12px;
    color: #C4CAD8;
    &::after {
      position: absolute;
      content: url(#{$img-path}ic_arr_down_16.svg);
      width: 16px;
      height: 16px;
      top: 10px;
      right: 12px;
    } 

    ul.btnstyle {
      display: flex;
      align-items: center;
      gap: 8px;
      li {
        cursor: default;
        background: #F1F1F4;
        border-radius: 20px;
        padding: 4px 6px  4px 12px;
        color: #4B5675;
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 8px;
        .btn-clear {          
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: #C4CADA;
          background-image: url(#{$img-path}ic_clear_5.svg);
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
  .item-box {
    position: absolute;
    top: 36px;
    left: 0;
    background: #fff;
    border-radius: 12px;
    width: 100%;
    border: 1px solid #DBDFE9;
    padding: 16px;
    

    .data-list {
      li {
        cursor: pointer;
        height: 36px;
        display: flex;
        align-items: center;
      }
    }
  }
  
  &.open {
    .data {
      border: 1px solid #1A6CD5;
      background: #E3F2FD;
      color: #4B5675;
      &::after {
        content: url(#{$img-path}ic_arr_up_16.svg);
      } 
    }
  }
}

.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 10px;
  font-weight: 500;
  color: #99A1B7;
}

.rdbtn-group {
  display: flex; 
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  .radioStyle {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    border: 1px solid #DBDFE9;
    background: #F4F7F6;

    input[type="radio"] {
      width: 12px;
      height: 12px;
      background-size: contain;                 
    }

    &:has([type="radio"]:checked) {
      background: #F0F5FF;
      border: 1px solid #04A3BB;
            
      &:has([type="radio"]:disabled) {
        border: 1px solid #CEE4E7;
      }      
    }      
  }
}

.ckbtnStyle {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  border: 1px solid #DBDFE9;
  background: #F4F7F6;

  input[type="checkbox"] {
    width: 12px;
    height: 12px;
    background: url(#{$img-path}ic_uncheck_12.svg) no-repeat center;

 
    &:not(:checked,:disabled):hover {
      -moz-appearance: none;
      -webkit-appearance: none;
      -o-appearance: none;
      outline: none;
      content: none;
      background: url(#{$img-path}ic_uncheck_12.svg) no-repeat center;
    }

    & + span {line-height: 1;}
  }

  &:has([type="checkbox"]:checked) {
    background: #F0F5FF;
    border: 1px solid #04A3BB;
    input[type="checkbox"] {
      background: url(#{$img-path}ic_check_12.svg) no-repeat center;  
      
      & + span {
        color: #04A3BB;
      }
    }
  }

}
// table
.tableWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  border: 1px solid #D9DDE7;
  border-radius: 10px;
  table.job-table {
    width: 100%;
    border-collapse: collapse;
    thead {
      border-radius: 10px;
      tr {
        height: 40px;
        background: #DBDFE9;
        th {
          font-weight: 500;
          &:first-child {
            border-top-left-radius: 10px;
          }
          &:last-child {
            border-top-right-radius: 10px;
          }
        }
      }
    }
    tbody {
      tr {
        height: 50px;
        td {
          text-align: center;
          border-bottom: 1px solid #D9DDE7;

          .status {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 24px;
            border-radius: 20px;
            padding: 0 12px;
            &.on {
              background: #D4FBC9;
              color: #239C02;
            }
            &.off {
              background: #F1F1F4;
              color: #78829D;

            }
            &.fail {
              background: #FFDFDF;    
              color: #C92F2F;          
            }
          }   
          .btn-grp {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
          }  
                
          &:has(.no-data) {height: 200px;}
        }
      }
    }
  }
  .pageWrap {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400px;

    & > a {
      height: 32px;
      width: 32px;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 8px;
      height: 32px;
      li {
        a {

          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          text-decoration: none;
        }

        &.cur {
          a {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: #1A6CD5;
            font-weight: 700;
            color: #fff;
          }
        }
      }
    }
  }
}

// toggle switch 
.toggleBox {
  height: 36px;
  display: flex;
  align-items: center;
  .toggleSwitch {
    width: 46px;
    height: 26px;
    display: block;
    position: relative;
    border-radius: 18px;
    background-color: #DBDFE8;
    border: 1px solid #DBDFE9;
    cursor: pointer;
  }
  
  .toggleSwitch .toggleButton {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #fff;
  }
  
  .ck-toggle:checked ~ .toggleSwitch {
    background: #04A3BB;
  }
  
  .ck-toggle:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 22px);
    // background: #fff;
  }
  
  .toggleSwitch, .toggleButton {
    transition: all 0.2s ease-in;
  }
}

.title-h1 {
  font-size: $font-size-h1;
  font-weight: 700;
  color: #222;
}

.ic-tit-nece {
  &::after {
    content: "*";
    padding-left: 2px;
    color: #28CDC8;
    font-size: 14px;
    font-weight: 500;
  }
}

.input-label {
  font-weight: 500;
}
.err-msg {
  color: $cl-error;
  font-size: 13px;
  font-weight: 400;
}

.h-divider {
  width: 100%;
  height: 1px;
  background: #DBDFE9;
}

.v-divider {
  height: 100%;
  width: 1px;
  background: #DBDFE9;
}

.btnGroup {
  display: inline-flex;
  gap: 8px;
}

// control
// button
.btn-menual {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  height: 40px;
  padding: 11px 24px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  border: 1px solid #DBDFE9;
  font-size: 15px;
  font-weight: 700;
  color: #4B5675;
}

.btn-sidebar {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 10;
  top: 30px;
  left: 24px;
}

// 아이콘이 들어간 버튼 정의
.btn-active {  
  @include create_btn_in_ic_16(active);
}
.btn-inactive {
  @include create_btn_in_ic_16(inactive);
}
.btn-modify {
  @include create_btn_in_ic_16(modify);
}
.btn-delete {
  @include create_btn_in_ic_16(delete); 
}
.btn-change {
  @include create_btn_in_ic_16(change);
}
.btn-start {
  @include create_btn_in_ic_16(start);                      
}
.btn-schedule {
  @include create_btn_in_ic_16(schedule);  
}
.btn-copy {
  @include create_btn_in_ic_16(copy); 
}
.btn-treeview {
  @include create_btn_in_ic_16(treeview); 
}
.btn-edit {
  @include create_btn_in_ic_16(edit); 
}
.btn-export {
  @include create_btn_in_ic_16(export); 
}
.btn-version {
  @include create_btn_in_ic_16(version); 
}
.btn-restart {
  @include create_btn_in_ic_16(restart); 
}
.btn-recover {
  @include create_btn_in_ic_16(recover); 
}
.btn-pause {
  @include create_btn_in_ic_16(pause); 
}
.btn-stop {
  @include create_btn_in_ic_16(stop); 
}
.btn-add {
  @include create_btn_in_ic_16(add); 
}
.btn-remove {
  @include create_btn_in_ic_16(remove); 
}
.btn-up {
  @include create_btn_in_ic_16(up); 
}
.btn-down {
  @include create_btn_in_ic_16(down); 
}
.btn-save {
  @include create_btn_in_ic_16(save); 
}
.btn-format {
  @include create_btn_in_ic_16(format); 
}
.btn-close2 {
  @include create_btn_in_ic_16(close2); 
}
.btn-saved {
  @include create_btn_in_ic_16(saved); 
}
.btn-search {
  @include create_btn_in_ic_16(search); 
}
.btn-auth {
  @include create_btn_in_ic_16(auth); 
}
.btn-read {
  @include create_btn_in_ic_16(read); 
}
.btn-grant {
  @include create_btn_in_ic_16(grant); 
}
.btn-run {
  @include create_btn_in_ic_16(run); 
}

.btn-ic-info {
  @include create_btn_icon(info);
}
.btn-ic-trash {
  @include create_btn_icon(trash);
}
.btn-ic-add {
  @include create_btn_icon(add);
}
.btn-ic-switch1 {
  @include create_btn_icon(switch1);
}
.btn-ic-switch2 {
  @include create_btn_icon(switch2);
}
.btn-ic-edit {
  @include create_btn_icon(edit);
}

.btn-ic-calendar {
  width: 16px;
  height: 16px;
  background: url(#{$img-path}ic_calendar_16.svg);
}
.btn-ic-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 18px;
  background: #04A3BB;
  &::before {
    width: 16px;
    height: 16px;
    content: url(#{$img-path}ic_search_w_16.svg);
  }
}
// --- end ---------------------

// 
.input-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ckbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.mul-calendar-group {
  display: flex;
  border: 1px solid #DBDFE9;
  border-radius: 10px;
  padding: 0 12px;  

  .data-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 8px;
    overflow: hidden;
    input[type="datetime-local"] {
      // &::-webkit-calendar-picker-indicator {
      //   display: none;
      // }
      font-weight: 500;
      height: 36px;
      font-weight: 500;
      font-size: 14px;
      color: #4B5675;
      border: none;
  
      &::-webkit-calendar-picker-indicator {
        width: 150px;
        position: absolute;
        left: calc(100% - 15px);
        top: 10px;
        background: url(#{$img-path}ic_calendar_16.svg);
        background-repeat: no-repeat;
      }
    }
  }
}

.btn-input-box {
  display: flex;
  input[type="text"] {
    height: 36px;
    border: 1px solid #DBDFE9;
    min-width: 160px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .btn-input {
    width: 40px;
    height: 36px;
    border: 1px solid #DBDFE9;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 0;
    background-color: #F4F7F6;
    background-image: url(#{$img-path}ic_btn_input_16.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.conBox {
  background: #fff;
  border: 1px solid #DBDFE9;
  box-shadow: 0px 2px 8px 0px #4B567540;
}

.v-flex {
  display: flex;  
  flex-direction: column;
  gap: 20px;
}
.h-flex {
  display: flex;
  gap: 20px;
}
.flex-1 {
  flex: 1;
}
.h-field {
  display: flex;
  gap: 16px;
}
.contentBox {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
  .titleWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    .title {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 20px;
      font-weight: 700;   
      color:#071437;   
      &::before {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background: #1A6CD5;
      }
    }
  }

  .tabWrap {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #DBDFE9;

    li {
      position: relative;
      cursor: pointer;
      height: 38px;
      padding: 4px 16px 15px 16px;
      color: #78829D;
      font-size: 16px;
      font-weight: 500;

      &.cur {
        color: #1A6CD5;

        &::after {
          position: absolute;
          content: '';
          height: 2px;
          width: 100%;
          background: #1A6CD5;
          left: 0;bottom: -1px;
        }
      }
    }
  }
}
.jistify-end {
  justify-content: flex-end !important;
}
.pick-date-group {
  .title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 26px;
    font-size: 13px;
    font-weight: 500;
    &:has(.ck-toggle:checked) {
      & + .sel-data-box {
        margin-top: 8px;        
        overflow: hidden;
        transition: all 0.6s ease-out;
        max-height: 300px;

        &.month {
          max-height: 106px;
        }
        &.week {
          max-height: 69px;
        }
        &.day {
          max-height: 254px;
        }
      }
    }

    .label-wrap {
      display: flex;
      align-items: center;
      gap: 8px;
      .sel-all {
        text-decoration: underline;
        color: #04A3BB;
      }
    }
    .toggle-wrap {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
  .sel-data-box {
    margin-top: 0px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-out;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    .ckbtnStyle {
      width: 67.66px;
    }
  }
}

.searchBox {
  display: flex;
  gap: 16px;
  align-items: center;
}
// images
.ic-search {
  cursor: pointer;
  width: 16px;
  height: 16px;
  content: url(#{$img-path}search.svg);
}

.ic-down {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_down.svg);
}

.ic-menu {
  cursor: pointer;
  width: 20px;
  height: 20px;
  content: url(#{$img-path}ic_menu_w.svg);
  &.gray {content: url(#{$img-path}ic_menu_g.svg);}
}

.ic-profile {
  cursor: pointer;
  width: 30px;
  height: 30px;
  content: url(#{$img-path}ic_profile.svg);
}

.ic-arr-down-12 {
  width: 12px;
  height: 12px;
  content: url(#{$img-path}ic_arr_down_12.svg);
}

.ic-arr-right-12 {
  width: 12px;
  height: 12px;
  content: url(#{$img-path}ic_arr_right_12.svg);
}

.ic-setting-18 {
  cursor: pointer;
  width: 18px;
  height: 18px;
  content: url(#{$img-path}ic_setting_18.svg);
  &.cur {
    content: url(#{$img-path}ic_setting_w_18.svg);
  }
}

.ic-nav-up-12 {
  width: 12px;
  height: 12px;
  content: url(#{$img-path}ic_nav_up_w_12.svg);
}

.ic-nav-down-12 {
  width: 12px;
  height: 12px;
  content: url(#{$img-path}ic_nav_down_w_12.svg);
}
// menu icon
.ic-menu1 {
  width: 20px;
  height: 20px;
  content: url(#{$img-path}ic_menu1.svg);
}
.ic-menu2 {
  width: 20px;
  height: 20px;
  content: url(#{$img-path}ic_menu2.svg);
}
.ic-menu3 {
  width: 20px;
  height: 20px;
  content: url(#{$img-path}ic_menu3.svg);
}
.ic-menu4 {
  width: 20px;
  height: 20px;
  content: url(#{$img-path}ic_menu4.svg);
}
.ic-menu5 {
  width: 20px;
  height: 20px;
  content: url(#{$img-path}ic_menu5.svg);
}
.ic-menu6 {
  width: 20px;
  height: 20px;
  content: url(#{$img-path}ic_menu6.svg);
}
.ic-menu7 {
  width: 20px;
  height: 20px;
  content: url(#{$img-path}ic_menu7.svg);
}

.ic-user-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_user_16.svg);
}
.ic-pwd-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_pwd_16.svg);
}
.ic-logout-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_logout_16.svg);
}
.ic-active-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_active_16.svg);
}
.ic-inactive-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_inactive_16.svg);
}
.ic-modify-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_modify_16.svg);
}
.ic-delete-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_delete_16.svg);
}
.ic-change-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_change_16.svg);
}
// 메뉴리스트 아이콘
// 그룹
.ic-add-group-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_add_group_16.svg);
}
.ic-modify-group-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_modify_group_16.svg);
}
.ic-delete-group-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_delete_group_16.svg);
}
.ic-setting-group-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_setting_group_16.svg);
}
// 워크플로우
.ic-add-work-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_add_work_16.svg);
}
.ic-open-work-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_open_work_16.svg);
}
.ic-delete-work-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_delete_work_16.svg);
}
.ic-copy-work-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_copy_work_16.svg);
}
.ic-run-work-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_run_work_16.svg);
}
.ic-run-history-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_run_history_16.svg);
}

// 
.ic-active-all-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_active_all_16.svg);
}
.ic-inactive-all-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_inactive_all_16.svg);
}
.ic-setting-alarm-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_setting_alarm_16.svg);
}
.ic-add-sche-16 {
  width: 16px;
  height: 16px; 
  content: url(#{$img-path}ic_add_sche_16.svg);
}
.ic-search-sche-16 {
  width: 16px;
  height: 16px;
  content: url(#{$img-path}ic_search_sche_16.svg);
}



.ic-first-32 {
  width: 32px;
  height: 32px;
  content: url(#{$img-path}ic_first_32.svg);
}
.ic-arr-prev-32 {
  width: 32px;
  height: 32px;
  content: url(#{$img-path}ic_arr_prev_32.svg);
}
.ic-arr-next-32 {
  width: 32px;
  height: 32px;
  content: url(#{$img-path}ic_arr_next_32.svg);
}
.ic-last-32 {
  width: 32px;
  height: 32px;
  content: url(#{$img-path}ic_last_32.svg);
}
.ic-confirm-48 {
  width: 48px;
  height: 48px;
  content: url(#{$img-path}ic_confirm_48.svg);
}
.ic-caution-48 {
  width: 48px;
  height: 48px;
  content: url(#{$img-path}ic_caution_48.svg);
}
.ic-fail-48 {
  width: 48px;
  height: 48px;
  content: url(#{$img-path}ic_fail_48.svg);
}
.ic-info-48 {
  width: 48px;
  height: 48px;
  content: url(#{$img-path}ic_info_48.svg);
}

.ic-nodata-36 {
  width: 36px;
  height: 36px;
  content: url(#{$img-path}ic_nodata_36.svg);
}

.ic-check-110 {
  width: 110px;
  height: 110px;
  content: url(#{$img-path}ic_check_110.svg);
}

// main
.layoutWrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background: #F1F1F4;
  
  .bgHeader {
    height: 120px;
    width: 100%;
    background: linear-gradient(90deg, #196BD4 0%, #558EF3 100%);
    padding-top: 26px;
    padding-left: 92px;

    &.sbOpen {
      padding-left: 68px;
    }
  }
  
  .mainWrap {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;

    // sidebar
    .sbMenuWrap {
      overflow: hidden;
      & > li {
        font-size: 15px;
        font-weight: 700;
        height: 44px;
  
        // depth2의 하위메뉴가 있을때 details
        &:has(details) {

          height: auto;
        }
  
        & > details {  
          padding-bottom: 8px; 
          
          & > summary {
            cursor: pointer;
            width: 100%;
            height: 44px;
            padding: 5px 6px;
            // overflow: hidden;
            .depth2Wrap {
              overflow: hidden;
              white-space: nowrap;
              height: 34px;
              border-radius: 16px;            
              position: relative;
              padding: 0 10px;
              display: flex;
              align-items: center;
              gap: 10px;
              line-height: 1;
              // justify-content: space-between;
  
              &::before {
                content: url(#{$img-path}ic_m_depth2.svg);
                width: 16px;
                height: 16px;
              }
              &::after {
                position: absolute;
                content: url(#{$img-path}ic_arr_right_12.svg);
                width: 12px;
                height: 12px;
                top: 10px;
                right: 12px;
                transform: rotate(0);
                transition: .4s transform ease;
              }              
            }

          } 
          
          &[open] {
            & > summary { 
              .depth2Wrap {
                &::after {
                  content: url(#{$img-path}ic_arr_down_12.svg);
                  transform: rotate(-90deg);                
                  transition: .2s transform ease;
                }
              }               

            } 
          }

          // depth3
          & > ul {
            margin-left: 26px;
            li {   
              cursor: pointer;
              .title {
                height: 32px;
                display: flex;
                align-items: center;
                gap: 8px;
                &::before {
                  display: block;
                  content: ' ';
                  margin-left: 12px;
                  width: 4px;
                  height: 4px;
                  border-radius: 2px;
                  background: #99A1B7;
                }         

                &.cur {
                  color: #1A6CD5;
                  &::before {background: #1A6CD5;}                  
                }
              }
              &> ul {
                padding-left: 24px;
                & > li{
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  height: 32px;
                  &::before {
                    content: "-"; /* 마커 내용 */
                    color: #99A1B7; /* 마커 색상 */
                    margin-right: 8px;
                  }
                }
              }
            }
          }
        }        
  
        &:has(details[open]) {
          border-bottom: 1px solid #DBDFE9;
        }
  
        &.cur {
          & > details {
            & > summary {
              cursor: pointer;
              .depth2Wrap {
                background: #1A6CD5;
                color: #fff;
                &::before {
                  content: url(#{$img-path}ic_m_depth2_c.svg);
                }
                &::after {
                  content: url(#{$img-path}ic_arr_up_w_12.svg);
                  transform: rotate(90deg);                
                  transition: .2s transform ease;
                }
                .ic-setting-18 {                    
                  content: url(#{$img-path}ic_setting_w_18.svg) !important;
              }
              }
            }

            &[open] {
              summary{
                .depth2Wrap {
                  &::after {
                    transform: rotate(0deg);                
                    transition: .2s transform ease;
                  }
                }
              }
            }
          }
        }

        
      }

      &:not(.sbOpen) {
        & > li {
          height: 44px;
          overflow: hidden;
          & > details {
            & > summary {
              padding: 5px 17px;
              & > .depth2Wrap {
                width: 34px;
                padding: 0 9.5px;
                .ic-setting-18 {display: none;}
                &::after {display: none;}
              }
            }
            &[open]::details-content {
              height: 0;
              display: none;
            }
          }
          border-bottom: none !important;
        }
      }

      &:not(:has(details)) {
        li {
          cursor: pointer;
          padding: 5px 6px;
          .title {
            height: 34px;
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 0 10px;
            border-radius: 16px;
            &::before {
              content: url(#{$img-path}ic_m_depth2.svg);
              width: 16px;
              height: 16px;
            }
          }
          &.cur {
            .title {
              background: #1A6CD5;
              color: #fff;
              &::before {
                content: url(#{$img-path}ic_m_depth2_c.svg);
              }
            }
          }
        }
      }
    }

    .contentWrap {
      position: relative;
      flex: 1;
      // padding: 120px 0;
      display: flex;
      flex-direction: column;
      
      .headerWrap {
        height: 80px;
      }
      .bodyWrap {       
        // position: absolute;
        // top: 80px;
        // left: 24px;
        // width: calc(100% - 48px);
        // height: calc(100% - 100px);
        margin: 0 24px 20px 24px;
        flex: 1;
        .contentBox {
          padding: 18px;
          background: #fff;
          border-radius: 16px;
          border: 1px solid #DBDFE9;
          box-shadow: 0px 2px 8px 0px #4B567540;
        }
      }
    }
  }
}


// modal
// background
.modalBg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
// modal layout
.modalWrap {
  max-height: calc(100% - 40px);
  position: relative;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  .modalTop {
    display: flex;
    align-items: center;
    height: 32px;
    .title {
      font-size: 20px;
      font-weight: 700;
      color: #071437;
      display: flex;
      align-items: center;
      gap: 8px;
      &::before {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background: #1A6CD5;
      }
    }
  }
  .close {
    position: absolute;
    top: 25px;
    right: 20px;
    &::before {
      display: block;
      width: 22px;
      height: 22px;
      content: url(#{$img-path}ic_popup_close.svg);
    }
  }

  .help {
    position: absolute;
    top: 25px;
    right: 50px;
    &::before {
      display: block;
      width: 22px;
      height: 22px;
      content: url(#{$img-path}ic_popup_help.svg);
    }
  }
  .gap-8 {gap: 8px;}
  .modalBody {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
    .input-group {
      gap: 8px;
      .input-label {
        height: 16px;
        font-size: 13px;
      }
      span.text {
        display: flex;
        align-items: center;
        height: 36px;
      }
      .toggleBox {height: 32px !important;}
    }
    input[type="text"],input[type="password"],input[type="number"] {
      font-weight: 500;
      height: 36px;
      border-radius: 10px;
      border: 1px solid #DBDFE9;
      padding: 0 12px;      

      &:invalid {
        border: 1px solid #F24A4A;
      }
    }
    textarea {
      min-height: 62px;
      border-radius: 10px;
      border: 1px solid #DBDFE9;
      padding: 10px 12px;
      resize: vertical;
    }
  }
  .modalBottom {
    height: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 8px;
    .modalBtnCancel {
      height: 32px;
      padding: 0 12px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 18px;
      border: 1px solid #DBDFE9;
      background: #F4F7F6;
      line-height: 1;
      color: #4B5675;

      &::before {
        width: 16px;
        height: 16px;
        content: url(#{$img-path}ic_cancel_16.svg);
      } 
    }
    .modalBtnConfirm {
      height: 32px;
      padding: 0 12px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 18px;
      background: #04A3BB;
      line-height: 1;
      color: #fff;

      &::before {
        width: 16px;
        height: 16px;
        content: url(#{$img-path}ic_confirm_w_16.svg);
      }
    }
    .modalBtnRun {
      height: 32px;
      padding: 0 12px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 18px;
      background: #04A3BB;
      line-height: 1;
      color: #fff;

      &::before {
        width: 16px;
        height: 16px;
        content: url(#{$img-path}ic_run_w_16.svg);
      }
    }
    &.center {
      justify-content: center;
    }
  }
}